*{
	margin: 0px;
	padding: 0px;
}

address, article, aside, canvas, content, details, figcaption, figure, footer, header, hgroup, menu, section, summary {
	display: block;
}

body{
	font-family: Arial;
	background-color: #101010;

}

content{
	padding-top: 20px;
	width: 800px;
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-image: linear-gradient(#333300, #333300, #333300, #666600);
	position: relative;
}

header{
	border-left-color: #999933;
	border-left-width: 1px;
	border-left-style: solid;
	background-color: #666600;
	width: 320px;
	position: relative;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 10px 10px 0px 0px;
}

nav li{
	list-style-type: none;
	display: inline;
	

}

nav{
	
	position: relative;
	margin: auto;
	text-align: center;
}


nav li a{
	font-family: arial;
	text-decoration:none;
	display:inline;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	padding-left:20px;
	font-size:18px;
	color: #999933;
	border-radius: 10px;
}

nav li a:link{
	font-size: 15px;
}

nav li a:hover{
	background-color: #333300;

}

article {
	background-color: #666600;
	width:650px;
	height: 600px;
	margin: auto;
	border-left-color: #999933;
	border-left-width: 1px;
	border-left-style: solid;
	box-shadow: 0px 0px 10px #333300;
	-webkit-box-shadow: 0px 0px 10px #333300; /* Safari */
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

article h2, h3, p {
	margin-left:20px;
	margin-right:20px;
	padding: 10px
	
	}

h1{
	font-size: 36px;
	font-family: Arial;
	color: white;
	text-align: center;
	padding-top: 8px;
	text-shadow: 2px 2px 3px #333300;

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #999933;
	text-align: center;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #999933;
	text-align: center;
}

p{
	color: #A9A9A9;
}

.left_float{
	width:50%;
	float:left;
}

.right_float{
	width:50%;
	float:right;
}

.decide{
	border: .2em solid #999933;
	border-radius: 1em;
	background-color: #666600;

}

.btn{

	font-size: 14px;
	text-decoration: none;
	color: #999933;
}
.btn:hover{
	font-size: 16px;
}

footer {

	border-left-color: #999933;
	border-left-width: 1px;
	border-left-style: solid;
	background-color: #666600;
	width: 420px;
	position: relative;
	margin: auto;
	margin-top: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	list-style-type: none;
	/*border-radius: 10px 10px 0px 0px;
	padding: 20px;
	margin: auto;
	background-color: pink;*/
}

